<tr>
  <td class="general_profile">
  	<span class="metric"><%= general_profile.avg_line_length%></span>
  </td>	
  <td class="general_profile">
    <span class="metric"><%= general_profile.avg_fun_length %></span>
  </td>
  <td class="general_profile">
    <span class="metric"><%= general_profile.ws_distribution %></span>
  </td>
</tr>