<% provide :title, "Adjust profile" %>

	<h2>
   		<%= @solution.filename %>
    </h2>
    
    <%= form_tag('/general_profiles/update', :method => :put) do %>
	<table class="general_profile">
	    	<th></th><th>Solution</th><th>Student</th><th>Norm. &Delta;</th><th>Add?</th>
	    	<% for i in(0..@attributes_count) %>
	    		<tr>
	    			<th><%= @attributes_names[i] %></th>
	    			<td><%= @solution_values[i] %></td>
	    			<td><%= @student_values[i] %></td>
	    			<td><%= format("%.4f", @deltas[i]) %></td>
	    			<% if(@deltas[i] <= ADJUSTMENT_TRESHOLD) %>
	    				<td><%= check_box_tag "check" + i.to_s,@attributes_names[i]+ "=" +@adjusted_values[i].to_s, true%></td>
	    			<% else %>
	    				<td><%= check_box_tag "check" + i.to_s,@attributes_names[i]+ "=" +@adjusted_values[i].to_s, false%></td>
	    			<% end %>
	    		</tr>
	    	<% end %>
	</table>
	<input type="hidden" id="gen_stud_profile_id" name="gen_stud_profile_id" value="<%= @student_gen_profile_id.to_s %>" >
	<input type="hidden" id="gen_sol_profile_id" name="gen_sol_profile_id" value="<%= @solution_gen_profile_id.to_s %>" >
	<%= submit_tag "Adjust profile", :confirm => "Are you sure?", :class => "btn"%>
	<%= link_to "Back", solution_path(@solution) %>
	<% end %>