<% provide(:title, 'About') %>
<h1>About Plagbook</h1>

<p>
	The idea is to create programming profile for each student based on metrics extracted from submitted assignments.
	The metrics are:
	general - average line length, white space distribution, loop type preference..
	programming language specific - use of javadoc, exception handling..
	+my own metrics - prefered programming language, used IDE, usage of blank lines for better code readability..
	<br />
	<br />
	When student submits new solution, system compares it's attributes with student' profile. If the difference
	exceeds defined treshold, solution is marked as suspicious. System then compares it with profiles of other students
	in given class and identifies students who are most likely to be the real author of given solution.
	<br />
	After each submitted solution, user's profile is refined (unless it is suspicious) so we should have more precise results
	as time goes on.
	<br />
	Designed for Java and C/C++ source codes.
	<br />
	<br />
	Ruby 1.9.2p290<br />
	Rails 3.2<br />
	Mysql 
</p>
<p>
	<a href="http://www.miloshes.sk/">Author's personal webpage</a>
</p>