<% provide(:title, 'Home') %>
<% if signed_in? && teacher? %>
	<%= link_to "Add new assignment", new_assignment_path, class: "signup_button round" %>
	<br/>
	<%= link_to "Add new solution", new_solution_path, class: "signup_button round" %>
	<br/>
	<%= link_to "Show suspicious solutions", "/solutions/suspicious", class: "signup_button round" %>
	<br/>
	<%= link_to "Re-compute data", "/solutions/recompute", class: "signup_button round" %>
<% else %>
<h1>Welcome to Plagbook</h1>
<p>
   This is the homepage for online antiplagiarism system
</p>
<%= link_to "Sign in", signin_path, class: "signup_button round" %>
<br/>
<p align="center">OR</p>
<%= link_to "Create new teacher", signup_path, class: "signup_button round" %>
<% end %>