<% provide :title, "Sign in" %>
<h1>Sign in</h1>

<br/>

<%= form_for(:session, url: sessions_path) do |f| %>
  <div class="field">
    <%= f.label :login %>
    <br/>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <br/>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>