<tr>
  <td class="assignments">
  	<span class="title"><%= assignment.name%></span>
  </td>	
  <td class="assignments">
    <span class="teacher_name"><%= assignment.subject.title %></span>
  </td>
  <td class="assignments">
    <span class="timestamp"><%= assignment.tags %></span>
  </td>
</tr>