<% provide :title, 'All assignments' %>
<h1>All assignments</h1>

<%= will_paginate %>

 <table class="assignments">
 	<th>Name</th>
 	<th>Subject</th>
 	<th>Tags</th>
 	<%= render @assignments %>
 </table>

<%= will_paginate %>