<%= provide(:title, 'New Assignment') %>
<h1>New assignment</h1>
<br />

<%= form_for(@assignment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
   <div class="field">
    <%= f.label :subject %>
    <br/>
    <%= f.select :subject_id, Subject.all.collect{ |subject| [subject.title, subject.id]} %>
    &nbsp; <%= link_to "Add new subject", new_subject_path %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <br/>
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <br/>
    <%= f.text_area :description %>
  </div>
 
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>