<li>
  <%= link_to "#{user.first_name} #{user.last_name}", user %> &nbsp; <%= "(#{user.solutions.count})" %>
  <% if user.group_id == 1 %>
  	&nbsp;(admin)
  <% end %>
   <% if user.group_id == 2 %>
  	&nbsp;(teacher)
  <% end %>
  
   <% if current_user.group_id == 1 && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete, confirm: "You sure?" %>
  <% end %>
</li>