<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<br />
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :login %>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <% if @root %>
	  <div class="field">
	    <%= f.label :group %>
	    <%= f.select :group_id, Group.all.collect{ |group| [group.name, group.id]} %>
	  </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
