<% provide :title, @user.full_name %>

<h1>

</h1>

<table class="profile">
  <tr>
    <td class="main">
      <h1>
   		 <%= @user.full_name %>
      </h1>
      </br>
      <table class="general_profile">
	    	<th><u>General profile</u></th>
	    	<% for i in(1..@gen_attributes_count) %>	<!-- from 1 to leave out id column-->
	    		<tr>
	    			<th><%= @gen_attributes_names[i] %></th>
	    			<td><%= @gen_values[i] %></td>
	    		</tr>
	    	<% end %>
	  </table>
	  
	  <% if(@java_values) %>
	  <table class="general_profile">
	    	<th><u>Java profile</u></th>
	    	<% for i in(1..@java_attributes_count) %>	<!-- from 1 to leave out id column-->
	    		<tr>
	    			<th><%= @java_attributes_names[i] %></th>
	    			<td><%= @java_values[i] %></td>
	    		</tr>
	    	<% end %>
	  </table>
	  <% end %>
	  
	  <% if(@c_values) %>
	        <table class="general_profile">
	    	<th><u>C/C++ profile</u></th>
	    	<% for i in(1..@c_attributes_count) %>	<!-- from 1 to leave out id column-->
	    		<tr>
	    			<th><%= @c_attributes_names[i] %></th>
	    			<td><%= @c_values[i] %></td>
	    		</tr>
	    	<% end %>
	  </table>
      <% end %>
      
      <% if @user.solutions.any? %>
        <table class="solutions">
          <tr>
          	<th>Filename</th><th>Assignment</th><th>Submitted</th>
          </tr>	
          <%= render @solutions %>
        </table>
        <%= will_paginate @solutions %>
      <% end %>
      
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.full_name %><br/>
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br/>
      <strong>Solutions</strong> <%= @user.solutions.count %><br/>
      <br/>
      <%= link_to 'Upload assignment', new_solution_path(user_id: @user.id) %>
    </td>
  </tr>
</table>