<% provide :title, 'Student stats' %>
<h1>Students total: <%= User.find(:all, conditions: "group_id = 3").count  %></h1>
</br>

<% @stats.reverse_each do |solutions, count| %>
	# of students with <%= solutions + ": " + count.to_s %> </br>
	</br>
<% end %>

</br>
<h1>Number of suspicious solutions: <%= @suspicious_count.to_s + " / " + @non_base_solutions.to_s %></h1>

<h2>Real author as 2nd: <%= @author_second.to_s + " / " + @non_base_solutions.to_s %></h2>

<h2>Real author as 3rd: <%= @author_third.to_s + " / " + @non_base_solutions.to_s %></h2>
