<%= form_for(@solution) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :filename %>
  </div>
  <div class="field">
    <%= f.text_area :assignment_id %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>