<div class="user_info">
  <a href="<%= user_path(current_user) %>">
    <span class="user_name">
      <%= "#{current_user.first_name} #{current_user.last_name}" %>
    </span>
    <span class="solutions">
      <%= pluralize(current_user.solutions.count, "solution") %>
    </span>
  </a>
</div>