<tr>
  <td class="subjects">
  	<span class="title"><%= subject.title%></span>
  </td>	
  <td class="solutions">
    <span class="teacher_name"><%= subject.teacher.full_name %></span>
  </td>
  <td class="solutions">
    <span class="timestamp"><%= subject.created_at.strftime("%d.%m.%Y") %></span>
  </td>
</tr>