<% provide :title, 'All subjects' %>
<h1>All subjects</h1>

<%= will_paginate %>

 <table class="general_profile">
 	<th>Title</th>
 	<th>Teacher</th>
 	<th>Created</th>
 	<%= render @subjects %>
 </table>

<%= will_paginate %>