<%= provide(:title, 'New Subject') %>
<h1>New subject</h1>
<br />

<%= form_for(@subject) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :teacher %>
    <%= f.select :teacher_id, User.where(group_id: 2).collect{|teacher|[teacher.full_name, teacher.id]} %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>