$full-width: 810px;
$background-color: #cff;
$link-color: #09c;
$visited-link-color: #069;

.container {
  width: $full-width;
}

body {
  background: $background-color;
}

header {
  padding-top: 20px;

  img {
    padding: 1em;
    background: white;
  }
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: white;

  h1 {
    font-size: 200%;
  }
}

/* Links */

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $visited-link-color;
    text-decoration: underline;
  }

  &:visited {
    color: $visited-link-color;
  }
}

/* Navigation */

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;

      a {
        padding: 0 5px;
        font-weight: bold;

        &:visited {
          color: $link-color;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: $full-width;
  margin-left: auto;
  margin-right: auto;

  nav {
    float: none;
  }
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

table.general_profile {
  width: 10%;
  padding: 1em;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;

  label {
    color: #fff;
  }
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }

  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
  
  ul.users {
  margin-top: 1em;
  li {
    list-style: none;
  }
  
  h1.solution {
    margin-bottom: 0.3em;
  }

  table.solutions {
  margin-top: 1em;

  tr {
    height: 70px;

    &:nth-child(2n) td, tbody tr.even td {
      background: white
    }

    td.solution {
      border-top: 1px solid #ccc;
      vertical-align: top;
      padding-top: 10px;

      span.timestamp {
        display: block;
        font-size: 85%;
        color: #666;
      }
    }
   }
  }
  
  div.user_info {
    img {
      padding-right: 0.1em;
    }
    a {
      text-decoration: none;
    }
    span.user_name {
      position: absolute;
    }
    span.solutions {
      font-size: 80%;
    }
  }

  form.new_solution {
    margin-bottom: 2em;

    textarea {
      height: 4em;
      margin-bottom: 0;
    }
  }

}
}