<tr>
  <td class="solutions">
  	<span class="filename"><%= link_to solution.filename, solution %></span>
  </td>	
  <td class="solutions">
    <span class="ass_name"><%= solution.assignment.name %></span>
  </td>
  <td class="solutions">
    <span class="timestamp"><%= solution.created_at.strftime("%d.%m.%Y-%H:%M:%S") %></span>
  </td>
</tr>