<%= provide(:title, 'New Solution') %>
<h1>New solution</h1>
<br />
<%= form_for(@solution) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :student %>
    <br/>
    <%= f.select :user , User.where(group_id: 3).collect{|student|[student.full_name, student.id]}, include_blank: true, selected: @default %>
    &nbsp;<%= link_to "Add new student", new_user_path %>
  </div>
  <div class="field">
    <%= f.label :assignment %>
    <br/>
    <%= f.select :assignment, Assignment.all.collect{|ass|[ass.name + " (" + ass.subject.title + ")", ass.id]} %>
    &nbsp;<%= link_to "Add new assignment", new_assignment_path %>
  </div>
  <div class="field">
  	<%= f.label :programming_language%>
  	<br/>
    <%= f.select :prog_language, ProgLanguage.all.collect{|lang|[lang.language, lang.id]}%>
  </div>
  <div class="field">
    <%= f.label :source_code %>
    <br/>
    <%= f.file_field :filename, multiple: true%>
  </div>
  <div class="actions">
    <%= f.submit "Upload" %>
  </div>
<% end %>
