<% provide :title, @solution.filename %>
	<%= link_to 'Upload assignment', new_solution_path(user_id: @solution.user_id) %>
	<h1>
   		<%= @solution.filename + " (#{@solution.prog_language.language})" %>
    </h1>
    
    <strong>Student: </strong><%= link_to @solution.user.full_name, user_path(@solution.user) %>&nbsp;
    <strong>Subject: </strong><%= link_to @solution.assignment.subject.title, subject_path(@solution.assignment.subject_id) %>&nbsp;
    <strong>Assignment: </strong><%= link_to @solution.assignment.name, assignment_path(@solution.assignment.id) %>
    <br/>
    <br/>
    
    <% if(@gen_student_values) %>
    	<%= link_to "Adjust profile", "/general_profiles/adjust_profile?id=#{@solution.id}", class: "signup_button round" %>
    <% end %>
    
    <% if(@gen_chart) %>
    	<h3>Possible real authors comparing general profiles:</h3>
    	<table class="comparisons">
          <tr>
          	<th>Student</th><th>Comparison</th>
          </tr>
          <% @gen_chart.each do |comparison| %>
          	<tr>
          		<% if(COMPARE_PROFILES) %>
	          		<td><%= comparison[0].full_name %></td>
	          		<td><%= comparison[1] %></td>
          		<% else %>
          			<td><%= comparison[0].full_name + " (" + comparison[1].filename + ")"%></td>
	          		<td><%= comparison[2] %></td>
          		<% end %>
          	</tr>
          <% end %>
        </table>
    <% end %>
    
    <% if(@java_chart) %>
    	<h3>Possible real authors comparing java profiles:</h3>
    	<table class="comparisons">
          <tr>
          	<th>Student</th><th>Comparison</th>
          </tr>	
          <% @java_chart.each do |comparison| %>
          	<tr>
          		<% if(COMPARE_PROFILES) %>
	          		<td><%= comparison[0].full_name %></td>
	          		<td><%= comparison[1] %></td>
          		<% else %>
          			<td><%= comparison[0].full_name + " (" + comparison[1].filename + ")"%></td>
	          		<td><%= comparison[2] %></td>
          		<% end %>
          	</tr>
          <% end %>
        </table>
    <% end %>
    
    <% if(@c_chart) %>
    	<h3>Possible real authors comparing c profiles:</h3>
    	<table class="comparisons">
          <tr>
          	<th>Student</th><th>Comparison</th>
          </tr>	
          <% @c_chart.each do |comparison| %>
          	<tr>
          		<% if(COMPARE_PROFILES) %>
	          		<td><%= comparison[0].full_name %></td>
	          		<td><%= comparison[1] %></td>
          		<% else %>
          			<td><%= comparison[0].full_name + " (" + comparison[1].filename + ")"%></td>
	          		<td><%= comparison[2] %></td>
          		<% end %>
          	</tr>
          <% end %>
        </table>
    <% end %>
    
    <br/>
    <% if(@gen_student_values) %>
        <h3>General profiles overall comparison: <%= @gen_distance %></h3>
	    <table class="general_profile">
	    	<th></th><th>Solution</th><th>Student</th><th>&Delta;</th>
	    	<% for i in(1..@gen_attributes_count) %>	<!-- from 1 to leave out id column-->
	    		<tr>
	    			<th><%= @gen_attributes_names[i] %></th>
	    			<td><%= @gen_solution_values[i] %></td>
	    			<td><%= @gen_student_values[i] %></td>
	    			<td><%= format("%.6f",(@gen_solution_values[i] - @gen_student_values[i]).abs) %></td>
	    		</tr>
	    	<% end %>
	    </table>
    <% else %>
    	<h3>General profile - BASE</h3>
    	<table class="general_profile">
    		 <% for i in(1..@gen_attributes_count) %>
			 	<tr>
	    			<th><%= @gen_attributes_names[i] %></th>
	    			<td><%= @gen_solution_values[i] %></td>
	    		</tr>
	    	 <% end %>
	    </table>
    <% end %>
    
    <br/>
    <% if(@lang_student_values) %>
        <h3><%= @solution.prog_language.language.upcase + " profiles overall comparison: " + @lang_distance.to_s %></h3>
	    <table class="general_profile">
	    	<th></th><th>Solution</th><th>Student</th><th>&Delta;</th>
	    	<% for i in(1..@lang_attributes_count) %>	<!-- from 1 to leave out id column-->
	    		<tr>
	    			<th><%= @lang_attributes_names[i] %></th>
	    			<td><%= @lang_solution_values[i] %></td>
	    			<td><%= @lang_student_values[i] %></td>
	    			<td><%= format("%.6f",(@lang_solution_values[i] - @lang_student_values[i]).abs) %></td>
	    		</tr>
	    	<% end %>
	    </table>
    <% else %>
    	<h3><%= @solution.prog_language.language.upcase %> profile - BASE</h3>
    	<table class="general_profile">
    		 <% for i in(1..@lang_attributes_count) %>
			 	<tr>
	    			<th><%= @lang_attributes_names[i] %></th>
	    			<td><%= @lang_solution_values[i] %></td>
	    		</tr>
	    	 <% end %>
	    </table>
    <% end %>
    
    <textarea rows="30" width="800px" cols="800" wrap="off"><%= @solution.source_code %></textarea>
      
   
      <!-- <%= link_to 'Upload assignment', new_solution_path %> -->
