<% provide :title, "Suspicious solutions" %>

	<h1>List of suspicious solutions</h1>
		
	<table class="solutions">
    	<tr>
        	<th>Student</th><th>Author</th>
        </tr>
        <% @suspicious_solutions.each do |solution| %>
        	<tr>
        		<td class="solutions">
  					<span class="filename"><%= link_to solution.filename, solution %></span>
  				</td>	
	      		
	      		<td><%= solution.user.full_name %></td>
	      	</tr>
		<% end %>
	</table>
