<footer>
  <nav class="round">
  	
  	Comparison: <b><%= COMPARISON_METHOD %></b></br>
  	Profile adjustment method: <b><%= PROFILE_ADJUSTMENT_METHOD %></b></br>
  	Language specific profiles: <b><%= JOIN_PROFILES.to_s %></b></br>
  	Use attribute weight: <b><%= WEIGHTENING.to_s %></b></br>
  	Number of base solutions: <b><%= NUMBER_OF_BASE_SOLUTIONS.to_s %></b></br>
  	Adjustment treshold: <b><%= ADJUSTMENT_TRESHOLD.to_s %></b></br>
  	
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>