<header>
  <% logo = image_tag("logo.png", alt: "Sample App", class: "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      
      <% if signed_in? %>
      	<li><%= link_to "Users", users_path %></li>
      	<li><%= link_to "Stats", "/users/stats" %></li>
        <li><%= link_to current_user.first_name, edit_user_path(current_user) %></li>
      <% end %>
      
      <% if signed_in? %>
  		<li><%= link_to "Sign out", signout_path, method: :delete %></li>
	  <% else %>
  		<li><%= link_to "Sign in", signin_path %></li>
	  <% end %>
    </ul>
  </nav>
</header>