<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
   <%= render 'layouts/stylesheets' %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
      <%= render 'layouts/header' %>

      <section class="round">
      	<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        
        <%= yield %>
      </section>
      
	  <%= render 'layouts/footer' %>
</div>
</body>
</html>
